body {
    margin: 0%;
    font-family: lato, Arial, Helvetica, sans-serif;
}

#background {
    border: 0px solid red;
    background-image: url('https://www.shapelink.com/images/startpage.jpg');
    background-position-x: center;
    background-position-y: center;
    background-size: 100% 140%;
    color: aliceblue;

    background-attachment: fixed;
    background-origin: initial;
    background-clip: initial;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border: 0px solid red;
    width: 99%;
    background-color: rgba(40, 40, 40, 0.9);
    padding: 15px 15px 15px 0px;
    position: fixed;
    margin: 0px;
}

.navbar img {
    margin-left: 15px;
    width: 45%;
}

.navbar_child {
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 0px solid green;
}

a {
    color: aliceblue;
    font-weight: bold;
    text-decoration: none;
}

.navbar_child>button {
    padding: 1.7%;
    width: 25%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 20px;
    border: none;
    background-image:linear-gradient(to right, #5a3bdb, #75c6ec);;
    color: aliceblue;
}
a:hover {
    cursor: pointer;
    text-decoration: underline;    
}
button:hover{
    cursor: pointer;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
button a:hover{
    text-decoration: none;
}

#background h1 {
    width: 80%;
    padding-left: 15%;

}

#background p {
    width: 70%;
    padding-left: 15%;
    color: #f4edef;
    font-size: larger;
    line-height: 30px;
}

h1+p+button {
    margin: 2% 15% 5%;
    padding: 17px;
    width: 13%;
    font-weight: bold;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    background-image: linear-gradient(to right, #5a3bdb, #75c6ec);
    color: aliceblue;
}  
h1+p+button:hover{
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.706);
}

h1+p+button a:hover{
   cursor: pointer;
    text-decoration: none;
}

#text {
    padding-top: 8%;
}

/* second section */
#secSection {
    display: flex;
    justify-content: space-between;
    border: 0px solid green;
}

.secSectionText {
    padding-top: 10%;
    width: 38%;
    border: 0px solid red;
    margin-left: 15%;
    line-height: 20px;
}

.secSectionText>p {
    width: 85%;
}

.mbl_img {
    margin-top: -100px;
    margin-right: 13%;
}

#thirdSec {
    display: flex;
    justify-content: space-between;
    border: 0px solid blue;
}

.thirdImg {
    margin-left: 18%;
}

.thirdSecText {
    margin-top: 10%;
    width: 40%;
    margin-right: 5%;
    margin-bottom: 10%;
}
ul p:nth-child(2){
    margin-top: -10px;
}
ul p:last-child{
    margin-top: -20px;
}

ul img {
    width: 20px;
    margin-right: 1%;
    margin-left: -7%;
    
}

#secForth {
    display: flex;
    justify-content: space-between;
    background-color: #f7f7fb;
    padding: 4% 0%;

}

.forthSecImg {
    margin-right: 13%;
}

#secFive {
    display: flex;
    justify-content: space-between;
    padding: 4% 0%;
}

.fiveImg>img {
    margin-left: 18%;
    width: 80%;
    border: 0px solid red;
}

.fiveSecText {
    margin-top: 10%;
    margin-right: 12%;
    width: 33%;
    border: 0px solid green;
    margin-bottom: 10%;
}

#secSix {
    width:80%;
    margin-left: 12%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.secSixContent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
    margin-top: 3%;


}

.divSixImg {
    width: 65px;
    display: table-cell;
    vertical-align: top;
    border: 0px solid red;
    
}

.sixImgspan {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, #5a3bdb, #75c6ec);
    margin: 10px 0px 0px 0px;
    padding: 10px;

}

.sixImg {
    height: 30px;
    width: 30px;
}
.content{
    border: 0px solid blue;
    display: table-cell;
    vertical-align: top;  
}
.content>h3{
    margin-bottom: -10px;
}

#footer{
    display:flex;
    justify-content: space-around;
    background-color:#121451;
    padding-top: 4%;
    padding-bottom: 4%;
}
.footerLeft{
    margin-left: 10px;
    line-height: 10px;
    color: #b3aca5;
}
.footerLeft>img{
    border: 0px solid red;
    width: 180px;
}
.footerLeft{
    font-size: smaller;
}
p+p{
    margin-bottom: 30px;
}
.footerIcon{
    border: 0px solid yellow;
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: center;
    
}

.footerIcon>a>img{
    width: 50px;
    height: 50px;
    
}
.footerIcon a{
    opacity: 0.6;
   
}
.footerIcon a:hover{
    opacity:0.9;
}


